[package]
name = "prono_db"
version = "0.1.0"
edition = "2024"

[dependencies]
prono = { path = "../prono" }

mysql_async = { version = "0.36.1", default-features = false, features = [
    "minimal",
] }
log = "0.4.29"
tokio = { version = "1.48.0", features = ["rt", "macros"] }
secure-string = "0.3.0"

[dev-dependencies]
generic = { path = "../generic" }

rstest = "0"
